<div class="container">
	<div class="card" style="background-color: antiquewhite;">
		<img src="{{family.picture}}" alt="{{family.lastName}}" />
		<p>Name: {{family.firstName}} {{family.lastName}}</p>
		<p>Number of kids: {{family.numberOfKids}}</p>
		<p>Kids age: {{family.kidsAge}}</p>
        <p>Description: {{family.description}}</p>
		<a href="/families/{{family._id}}/delete"><i class="fas fa-user-slash"></i></a>
		<a href="/families/{{family._id}}/update"><i class="far fa-edit"></i></a>
	</div>
</div>