<div class="container">
	<div class="card mb-3">
		<img src="{{family.picture}}" alt="family.lastName" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title">{{family.firstName}} {{family.lastName}}</h5>
			<p class="card-text">{{family.address}}</p>
			<p class="card-text">{{family.cellphone}}</p>
			<p class="card-text">{{family.numberOfKids}}</p>
			<p class="card-text">{{family.kidsAge}}</p>
			<p class="card-text">{{family.description}}</p>
			<p class="card-text">{{family.availability}}</p>
			<a href="/users/{{family._id}}/update" class="fas fa-edit"></a>
			<a href="/users/{{family._id}}/delete" class="fas fa-family-slash"></a>
		</div>
	</div>
</div>