<div class="container">
	<div class="card" style="background-color: antiquewhite;">
		<img src="{{user.picture}}" alt="{{user.lastName}}" />
		<p>{{user.firstName}}, {{user.lastName}}</p>
		<p>{{user.age}}</p>
		<p>{{user.email}}, {{user.cellphone}}</p>
		<p>{{user.experience}}</p> 
		<p>Or</p>
		<p>{{user.description}}</p>
		<p>{{user.numberOfKids}}, {{user.kidsAge}}></p>
		<p>{{user.availability}}</p>
       
		<a href="/users/{{user._id}}/delete"><i class="fas fa-user-slash"></i></a>
		<a href="/users/{{user._id}}/update"><i class="far fa-edit"></i></a>
	</div>
</div>