<div class="container">
	<div class="card" style="background-color: antiquewhite;">
		<img src="{{user.picture}}" alt="{{user.lastName}}" />
		<p>Name: {{user.firstName}} {{user.lastName}}</p>
		<p>Age: {{user.age}} </p>
       
		<a href="/users/{{users._id}}/delete"><i class="fas fa-user-slash"></i></a>
		<a href="/users/{{users._id}}/update"><i class="far fa-edit"></i></a>
	</div>
</div>