<div class="container">
	<form action="/users/{{user._id}}/update" method="POST" enctype="multipart/form-data" class="d-flex flex-column">

		<div class="form-row">
			<div class="form-group col-4">
				{{!-- <label for="firstName">Firstname</label> --}}
				<input type="text" id="firstName" name="firstName" required value="{{user.firstName}}"
					placeholder="Firstname" class="form-control" />
			</div>
			<div class="form-group col">
				{{!-- <label for="lastName">Lastname</label> --}}
				<input type="text" id="lastName" name="lastName" value={{user.lastName}} placeholder="Lastname"
					class="form-control" />
			</div>
			<div class="form-group">
				{{! <label for="role">Role:</label> }}
				<input type="hidden" id="role" name="role" value={{user.role}} class="form-control" />
			</div>
			<div class="form-group col">
				{{!-- <label for="age">Age</label> --}}
				<input type="number" id="age" name="age" value={{user.age}} placeholder="Age" class="form-control" />
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-6">
				{{!-- <label for="cellphone">Cellphone</label> --}}
				<input type="text" id="cellphone" name="cellphone" value={{user.cellphone}} placeholder="Cellphone"
					class="form-control" />
			</div>
			<div class="form-group col">
				{{!-- <label for="experience">Experience</label> --}}
				<input type="number" id="experience" name="experience" value="{{user.experience}}"
					placeholder="Experience" class="form-control" />
			</div>
		</div>

		<div class="form-group">
			{{!-- <label for="resume">Resume</label> --}}
			<textarea type="text" id="resume" name="resume" value="{{user.resume}}" placeholder="Resume"
				class="form-control"></textarea>
		</div>

		<div class="form-row">
			<div class="form-group col-4">
				{{!-- <label for="numberOfKids">Number of kids</label> --}}
				<input type="text" id="numberOfKids" name="numberOfKids" value={{user.numberOfKids}}
					placeholder="Number of Kids" class="form-control" />
			</div>
			<div class="form-group col">
				{{!-- <label for="kidsAge">Kids age</label> --}}
				<input type="text" id="kidsAge" name="kidsAge" value="{{user.kidsAge}}" placeholder="Kids Age"
					class="form-control" />
			</div>
			<div class="form-group col">
				{{!-- <label for="availability">Availability</label> --}}
				<select name="availability" id="availability" class="form-control">
					<option value="fullTime">Full Time</option>
					<option value="partTime">Part Time</option>
					<option value="evening">Evening</option>
					<option value="afterSchool">After School</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			{{!-- <label for="picture">Picture:</label> --}}
			<input type="file" id="picture" name="picture" class="form-control form-control-lg p-1" />
		</div>

		<button class="btn btn-lg btn-primary d-flex align-self-center">Update</button>

	</form>
</div>