<div class="container">
	<h1>Users Profiles</h1>
	{{> flashMessage}}
</div>
<div class="container d-flex flex-wrap justify-content-between">
	{{#each users}}			
		<div class="card mb-5">
				<img src="{{this.picture}}" alt="{{this.firstName}}" />
				<div class="card-body">
						<h5 class="card-title">{{this.firstName}} {{this.lastName}} <span class="ml-3">{{this.age}}</span></h5>					
						<p class="card-text">Experiences: {{this.experience}}</p>
						<p>{{this.resume}}</p>   
						<a href="/users/{{this._id}}">More info...</a>
						<a href="/matches/{{this._id}}" class="fas fa-heart"></a>
				</div>
		</div>

	{{/each}}
</div>
